{:deps {org.clojure/clojure {:mvn/version "1.12.4"}}
 :paths ["src" "tests" "target/classes"]

 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
          :ns-default build}}}
